@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/Raleway-Light.ttf);
  font-style: normal;
  font-weight: 200; }
@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/Raleway-Regular.ttf);
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/Raleway-Medium.ttf);
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/Raleway-Bold.ttf);
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/Raleway-SemiBold.ttf);
  font-style: normal;
  font-weight: 700; }
body {
  background-color: #040404; }

.company-name {
  color: #43e97b;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 15px 40px;
  width: 100vw;
  height: auto;
  z-index: 5;
  transition: all 1s;
  /* Mobile Landscape and Portrait */ }
  nav .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer; }
    nav .logo img {
      height: 40px;
      width: auto; }
  nav.black {
    background: rgba(4, 4, 4, 0.95); }
  nav .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    nav .links a {
      cursor: pointer;
      margin: 0 15px;
      text-decoration: none;
      color: white;
      font-family: "Raleway";
      font-weight: 400;
      font-size: 15px;
      -webkit-transition: ease 0.6s all;
      -moz-transition: ease 0.6s all;
      -o-transition: ease 0.6s all;
      transition: ease 0.6s all;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden; }
      nav .links a:hover {
        color: #43e97b; }
      nav .links a.button {
        margin: 0;
        color: black;
        font-weight: 900;
        padding: 8px 15px; }
        nav .links a.button:hover {
          color: #43e97b; }
    nav .links #language {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 10px; }
      nav .links #language img {
        height: 18px;
        width: auto;
        margin-right: 5px; }
      nav .links #language select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        font-size: 16px;
        color: #43e97b;
        background-color: transparent;
        border: none; }
    nav .links#nav-links {
      margin-left: calc(10vw); }
  @media only screen and (max-width: 767px) {
    nav {
      justify-content: center; }
      nav .links {
        display: none; } }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: auto; }
  section#home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(4, 4, 4, 0.8), #040404), url("../images/computer.jpg"); }
    section#home .home-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      /* Mobile Landscape and Portrait */
      /* Mobile Portrait */ }
      section#home .home-content h1 {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently */
        text-align: center;
        margin-bottom: 30px;
        color: white;
        font-size: 35px;
        font-family: "Raleway";
        font-weight: 400;
        letter-spacing: 20px;
        text-transform: uppercase; }
      section#home .home-content img {
        height: 40vh;
        width: auto; }
      section#home .home-content .button {
        margin: 50px 0 0 0;
        padding: 14px 30px;
        font-size: 28px; }
      @media only screen and (max-width: 767px) {
        section#home .home-content {
          padding: 10px; }
          section#home .home-content h1 {
            font-size: 32px;
            letter-spacing: 15px; }
          section#home .home-content img {
            height: auto;
            width: 80%; } }
      @media only screen and (max-width: 479px) {
        section#home .home-content {
          padding: 10px; }
          section#home .home-content h1 {
            font-size: 28px; } }
      @media only screen and (max-width: 405px) {
        section#home .home-content h1 {
          font-size: 24px;
          letter-spacing: 10px; } }
  section#us {
    background-color: transparent;
    /* Mobile Portrait */ }
    section#us .us-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60%;
      color: white;
      font-family: "Raleway";
      text-align: center; }
      section#us .us-content img {
        margin-bottom: 40px;
        height: 75px; }
      section#us .us-content h1 {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently */
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 20px;
        margin-bottom: 30px;
        font-size: 30px; }
      section#us .us-content p {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently */
        font-weight: 400;
        line-height: 1.6;
        font-size: 18px; }
    @media only screen and (max-width: 479px) {
      section#us .us-content {
        width: 80%; } }
  section#work {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to top, #040404, rgba(4, 4, 4, 0.75), #040404), url("../images/board.jpg"); }
    section#work .work-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-top: 45px;
      min-height: 65vh;
      height: auto;
      width: 100%; }
      section#work .work-container #cards {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: calc(100% - 50px);
        min-height: 320px;
        height: auto;
        transition: ease 2s all;
        scroll-behavior: smooth;
        overflow-x: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */ }
      section#work .work-container #cards::-webkit-scrollbar {
        display: none; }
      section#work .work-container .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: 320px;
        margin-right: 20px; }
        section#work .work-container .title h1 {
          font-family: "Raleway";
          font-weight: 900;
          font-size: 50px;
          color: white;
          letter-spacing: 10px;
          text-transform: uppercase; }
      section#work .work-container .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 4px;
        min-width: 600px;
        height: 290px;
        overflow: hidden;
        /* Transition */
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out; }
        section#work .work-container .card h2 {
          font-family: "Raleway";
          font-weight: 700;
          font-size: 20px;
          color: #fff;
          text-align: center;
          transition: all 0.5s ease; }
        section#work .work-container .card a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%; }
          section#work .work-container .card a img {
            height: auto;
            width: 100%; }
        section#work .work-container .card:hover, section#work .work-container .card:active, section#work .work-container .card:focus {
          min-width: calc(600px * 1.1);
          height: calc(290px * 1.1); }
      section#work .work-container .arrows-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: calc(100% - 50px);
        padding-top: 15px; }
        section#work .work-container .arrows-container .arrow-box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
          section#work .work-container .arrows-container .arrow-box .arrow {
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Old versions of Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently */
            width: 30px;
            height: auto;
            cursor: pointer; }
        section#work .work-container .arrows-container #left {
          left: 0;
          margin-right: 20px; }
        section#work .work-container .arrows-container #right {
          right: 0; }
  section#services {
    padding: 70px 20px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: transparent; }
    section#services .service,
    section#services .top-service {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 400px;
      height: auto;
      margin: 20px; }
      section#services .service .icon,
      section#services .top-service .icon {
        margin-bottom: 20px;
        height: 50px;
        width: auto; }
      section#services .service .title,
      section#services .service .description,
      section#services .top-service .title,
      section#services .top-service .description {
        font-family: "Raleway";
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently */
        text-align: center;
        color: white; }
      section#services .service .title,
      section#services .top-service .title {
        font-size: 25px;
        font-weight: 900;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 10px; }
      section#services .service .description,
      section#services .top-service .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4; }
    section#services .top-service {
      width: 65%;
      margin: 20px 15%; }
      section#services .top-service .title {
        font-size: 35px; }
  section#quote {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, #040404, rgba(4, 4, 4, 0.75), #040404); }
  section#contact {
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 100px;
    /* Mobile and iPad Portrait */
    /* Mobile Portrait */ }
    section#contact .half {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
      height: 100%;
      width: 60%; }
      section#contact .half .title,
      section#contact .half .subtitle {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently */
        font-family: "Raleway";
        margin-bottom: 10px;
        text-align: center;
        color: white;
        width: 100%; }
      section#contact .half .title {
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 10px;
        text-transform: uppercase; }
      section#contact .half .subtitle {
        font-size: 20px;
        font-weight: 400; }
      section#contact .half .button {
        cursor: pointer;
        text-decoration: none;
        font-family: "Raleway";
        font-size: 20px;
        margin-top: 10px;
        font-weight: 900;
        text-transform: uppercase;
        padding: 12px 24px;
        border-radius: 50px;
        color: black;
        background-color: white;
        -webkit-transition: ease 0.6s all;
        -moz-transition: ease 0.6s all;
        -o-transition: ease 0.6s all;
        transition: ease 0.6s all;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden; }
        section#contact .half .button:hover {
          background-color: #43e97b;
          color: black; }
      section#contact .half#left {
        padding: 0;
        width: 40%; }
        section#contact .half#left .img-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          width: 90%; }
          section#contact .half#left .img-container .img-asset {
            width: 100%;
            height: auto; }
    @media only screen and (max-width: 890px) {
      section#contact {
        flex-direction: column;
        padding: 20px 70px; }
        section#contact .half {
          width: 100%; }
          section#contact .half#left {
            width: 60%; }
            section#contact .half#left .img-container {
              width: 90%; }
              section#contact .half#left .img-container .img-asset {
                width: 100%; }
          section#contact .half .title {
            font-size: 23px;
            margin-top: 20px; } }
    @media only screen and (max-width: 479px) {
      section#contact {
        padding: 10px 40px; }
        section#contact .half {
          padding: 10px; }
          section#contact .half#left {
            width: 100%; } }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 15%;
  width: 100%;
  background-color: transparent; }
  footer .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; }
    footer .info .box-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      footer .info .box-footer h2,
      footer .info .box-footer p {
        font-family: "Raleway", sans-serif; }
      footer .info .box-footer h2 {
        color: #43e97b;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 15px;
        font-weight: 900; }
      footer .info .box-footer p {
        margin-bottom: 7px;
        font-weight: 600;
        color: white; }
  footer .footer-divider {
    background-color: grey;
    height: 2px;
    width: 100%;
    margin: 30px 0; }
  footer .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    footer .social-media .icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 25px 0 0 0; }
      footer .social-media .icons a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30px;
        margin: 10px; }
        footer .social-media .icons a img {
          height: 100%;
          width: auto; }
    footer .social-media .call-action {
      margin: 10px 0 0 0; }
      footer .social-media .call-action p {
        color: white;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 20px; }
      footer .social-media .call-action .email {
        color: white;
        text-decoration: none;
        font-weight: 900; }

.button {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 50px;
  color: black;
  background-color: #43e97b;
  -webkit-transition: ease 0.6s all;
  -moz-transition: ease 0.6s all;
  -o-transition: ease 0.6s all;
  transition: ease 0.6s all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  .button:hover {
    background-color: transparent;
    color: #43e97b; }

.input-standard {
  margin: 8px 0;
  width: 100%; }
  .input-standard .input-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 58px;
    position: relative;
    overflow: hidden; }
    .input-standard .input-field label {
      position: absolute;
      top: 28px;
      left: 16px;
      z-index: 1;
      transition: 0.5s;
      margin: 0;
      color: #43e97b;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      font-weight: 400; }
    .input-standard .input-field input,
    .input-standard .input-field textarea {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      padding: 10px 16px;
      outline: none;
      box-shadow: none;
      border: 0.5px solid #dddddd;
      border-radius: 6px;
      background: none;
      background-color: transparent;
      color: white;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      font-weight: 400; }
      .input-standard .input-field input:focus,
      .input-standard .input-field textarea:focus {
        border-color: #43e97b; }
    .input-standard .input-field.textarea {
      height: 94px; }
    .input-standard .input-field input:focus + label,
    .input-standard .input-field input:valid + label,
    .input-standard .input-field textarea:focus + label,
    .input-standard .input-field textarea:valid + label {
      top: 0;
      left: 0;
      font-size: 13px; }

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(4, 4, 4, 0.95);
  position: fixed;
  display: none;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  left: 0;
  top: 0; }
  .popup .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Mobile Landscape and Portrait */
    /* Mobile Landscape and Portrait */ }
    .popup .container img {
      height: 200px;
      width: auto;
      margin: 0 0 10px 0; }
    .popup .container .text-popup {
      font-family: "Raleway", sans-serif;
      color: white;
      text-align: center;
      font-weight: 400;
      font-size: 27px;
      margin: 30px 0 0 0; }
    @media only screen and (max-width: 300px) {
      .popup .container img {
        width: 100%;
        height: auto; } }

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  top: 0;
  left: 0;
  background: rgba(4, 4, 4, 0.95);
  transition: 0.3s ease all; }
  #loading .spinner {
    margin: 100px auto;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2s infinite linear;
    animation: sk-rotate 2s infinite linear; }
    #loading .spinner .dot1,
    #loading .spinner .dot2 {
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #43e97b;
      border-radius: 100%;
      -webkit-animation: sk-bounce 2s infinite ease-in-out;
      animation: sk-bounce 2s infinite ease-in-out; }
    #loading .spinner .dot2 {
      top: auto;
      bottom: 0;
      -webkit-animation-delay: -1s;
      animation-delay: -1s; }
@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes sk-bounce {
  0%,
            100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%,
            100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
