$logo-color-green: #43e97b;
$logo-color-blue: #38f9d7;

$color-background: #040404;
$apperance-time: 2.5s;

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Light.ttf);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Medium.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Bold.ttf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-SemiBold.ttf);
    font-style: normal;
    font-weight: 700;
}

@mixin flexbox($direction, $just, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $just;
    align-items: $align;
}

@mixin animation($movement, $time, $attribute) {
    -webkit-transition: $movement $time $attribute;
    -moz-transition: $movement $time $attribute;
    -o-transition: $movement $time $attribute;
    transition: $movement $time $attribute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

@mixin show-from-top-scroll($time) {
    opacity: 0;
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    -webkit-transition: opacity $apperance-time $time ease-out,
        -webkit-transform $apperance-time $time cubic-bezier(0, 1, 0.3, 1);
    transition: transform $apperance-time $time cubic-bezier(0, 1, 0.3, 1), opacity $apperance-time $time ease-out,
        -webkit-transform $apperance-time $time cubic-bezier(0, 1, 0.3, 1);
    will-change: transform, opacity;

    &.is-visible {
        opacity: 1;
        -webkit-transform: translateY(0em);
        transform: translateY(0em);
    }
}

@mixin noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.company-name {
    color: $logo-color-green;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
}

nav {
    @include flexbox(row, space-between, center);
    position: fixed;
    padding: 15px 40px;
    width: 100vw;
    height: auto;
    z-index: 5;
    .logo {
        @include flexbox(row, center, flex-end);
        cursor: pointer;
        img {
            height: 40px;
            width: auto;
        }
    }
    .links {
        @include flexbox(row, center, center);
        a {
            cursor: pointer;
            margin: 0 15px;
            text-decoration: none;
            color: white;
            font-family: "Raleway";
            font-weight: 400;
            font-size: 15px;
            @include animation(ease, 0.6s, all);
            &:hover {
                color: $logo-color-green;
            }
            &.button {
                margin: 0;
                font-weight: 900;
                text-transform: uppercase;
                padding: 8px 15px;
                border-radius: 50px;
                color: black;
                background-color: $logo-color-green;
                &:hover {
                    background-color: transparent;
                    color: $logo-color-green;
                }
            }
        }
    }
}

section {
    @include flexbox(column, center, center);
    width: 100vw;
    min-height: 100vh;
    height: auto;

    &#home {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to bottom, rgba($color-background, 0.8), rgba($color-background, 1)),
            url("../images/computer.jpg");

        .home-content {
            @include flexbox(column, center, center);
            h1 {
                @include noSelect();
                text-align: center;
                margin-bottom: 60px;
                color: white;
                font-size: 35px;
                font-family: "Raleway";
                font-weight: 400;
                letter-spacing: 20px;
                text-transform: uppercase;
            }
            img {
                height: 40vh;
                width: auto;
            }
        }
    }

    &#nosotros {
        background-color: $color-background;
        .nosotros-content {
            @include flexbox(column, center, center);
            width: 60%;
            color: white;
            font-family: "Raleway";
            font-weight: 400;
            text-align: center;
            img {
                @include show-from-top-scroll(0.3s);
                margin-bottom: 40px;
                height: 75px;
            }
            h1 {
                @include noSelect();
                @include show-from-top-scroll(1s);
                text-transform: uppercase;
                letter-spacing: 20px;
                margin-bottom: 30px;
                font-size: 30px;
            }
            p {
                @include noSelect();
                @include show-from-top-scroll(1.5s);
                line-height: 1.5;
                font-size: 18px;
            }
        }
    }

    &#trabajo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(
                to top,
                rgba($color-background, 1),
                rgba($color-background, 0.75),
                rgba($color-background, 1)
            ),
            url("../images/board.jpg");

        .trabajo-container {
            @include flexbox(column, center, center);
            position: relative;
            padding-top: 45px;
            min-height: 65vh;
            height: auto;
            width: 100%;

            #cards {
                @include flexbox(row, flex-start, center);
                width: calc(100% - 50px);
                min-height: 65vh;
                height: auto;
                transition: ease 2s all;
                scroll-behavior: smooth;
                overflow-x: scroll;
            }

            .title {
                @include flexbox(column, center, center);
                width: fit-content;
                height: 60vh;
                margin-right: 20px;
                h1 {
                    font-family: "Raleway";
                    font-weight: 400;
                    font-size: 50px;
                    color: white;
                    letter-spacing: 10px;
                    text-transform: uppercase;
                }
            }

            .card {
                @include flexbox(column, center, center);
                cursor: pointer;
                margin: 0 4px;
                width: 250px;
                min-width: 250px;
                height: 62vh;
                overflow: hidden;

                h2 {
                    font-family: "Raleway";
                    font-weight: 700;
                    font-size: 20px;
                    color: #fff;
                    text-align: center;
                    transition: all 0.5s ease;
                }

                a {
                    @include flexbox(column, center, center);
                    height: 100%;
                    width: 100%;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }

                /* Transition */
                -webkit-transition: 0.5s ease-out;
                -moz-transition: 0.5s ease-out;
                -o-transition: 0.5s ease-out;
                transition: 0.5s ease-out;

                /* Background */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: linear-gradient(rgba($logo-color-green, 0.4), rgba($logo-color-green, 0.6));

                &:hover,
                &:active,
                &:focus {
                    height: 65vh;
                    min-width: 270px;
                    background-image: linear-gradient(rgba($logo-color-green, 0.4), rgba($logo-color-green, 0.6));
                }
            }

            .arrows-container {
                @include flexbox(row, flex-end, center);
                width: calc(100% - 50px);
                padding-top: 15px;
                .arrow-box {
                    @include flexbox(row, center, center);
                    cursor: pointer;
                    .arrow {
                        @include noSelect();
                        width: 30px;
                        height: auto;
                        cursor: pointer;
                    }
                }
                #left {
                    left: 0;
                    margin-right: 20px;
                }

                #right {
                    right: 0;
                }
            }
        }
    }

    &#servicios {
        padding: 70px 20px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(
            to top,
            rgba($color-background, 1),
            rgba($color-background, 0.75),
            rgba($color-background, 1)
        );
        .service {
            @include flexbox(column, flex-start, center);
            width: 250px;
            height: auto;
            margin: 30px 20px;
            .icon {
                margin-bottom: 20px;
                height: 50px;
                width: auto;
            }
            .title,
            .description {
                font-family: "Raleway";
                @include noSelect();
                text-align: center;
                color: white;
            }
            .title {
                font-size: 30px;
                font-weight: 600;
                letter-spacing: 10px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .description {
                font-weight: 400;
            }
        }
    }

    &#cotizar {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(
            to bottom,
            rgba($color-background, 1),
            rgba($color-background, 0.75),
            rgba($color-background, 1)
        );
    }

    &#contacto {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(
            to top,
            rgba($color-background, 1),
            rgba($color-background, 0.75),
            rgba($color-background, 1)
        );
    }
}

.divider {
    width: 100vw;
    height: 50px;
    background-color: rgba($color-background, 1);
}
