$logo-color-green: #43e97b;
$logo-color-blue: #38f9d7;

$color-background: #040404;
$apperance-time: 2.5s;

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Light.ttf);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Medium.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Bold.ttf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-SemiBold.ttf);
    font-style: normal;
    font-weight: 700;
}

@mixin flexbox($direction, $just, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $just;
    align-items: $align;
}

@mixin animation($movement, $time, $attribute) {
    -webkit-transition: $movement $time $attribute;
    -moz-transition: $movement $time $attribute;
    -o-transition: $movement $time $attribute;
    transition: $movement $time $attribute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

@mixin noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

body {
    background-color: $color-background;
}

.company-name {
    color: $logo-color-green;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
}

nav {
    @include flexbox(row, space-between, center);
    position: fixed;
    padding: 15px 40px;
    width: 100vw;
    height: auto;
    z-index: 5;
    transition: all 1s;
    .logo {
        @include flexbox(row, center, flex-end);
        cursor: pointer;
        img {
            height: 40px;
            width: auto;
        }
    }
    &.black {
        background: rgba($color-background, 0.95);
    }
    .links {
        @include flexbox(row, center, center);
        a {
            cursor: pointer;
            margin: 0 15px;
            text-decoration: none;
            color: white;
            font-family: "Raleway";
            font-weight: 400;
            font-size: 15px;
            @include animation(ease, 0.6s, all);
            &:hover {
                color: $logo-color-green;
            }
            &.button {
                margin: 0;
                color: black;
                font-weight: 900;
                padding: 8px 15px;
                &:hover {
                    color: $logo-color-green;
                }
            }
        }
        #language {
            @include flexbox(row, center, center);
            margin-right: 10px;
            img {
                height: 18px;
                width: auto;
                margin-right: 5px;
            }
            select {
                cursor: pointer;
                display: inline-block;
                position: relative;
                font-size: 16px;
                color: $logo-color-green;
                background-color: transparent;
                border: none;
            }
        }
        &#nav-links {
            margin-left: calc(10vw);
        }
    }
    /* Mobile Landscape and Portrait */
    @media only screen and (max-width: 767px) {
        justify-content: center;
        .links {
            display: none;
        }
    }
}

section {
    @include flexbox(column, center, center);
    width: 100vw;
    min-height: 100vh;
    height: auto;

    &#home {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to bottom, rgba($color-background, 0.8), rgba($color-background, 1)),
            url("../images/computer.jpg");
        .home-content {
            @include flexbox(column, center, center);
            padding: 0;
            margin: 0;
            h1 {
                @include noSelect();
                text-align: center;
                margin-bottom: 30px;
                color: white;
                font-size: 35px;
                font-family: "Raleway";
                font-weight: 400;
                letter-spacing: 20px;
                text-transform: uppercase;
            }
            img {
                height: 40vh;
                width: auto;
            }
            .button {
                margin: 50px 0 0 0;
                padding: 14px 30px;
                font-size: 28px;
            }
            /* Mobile Landscape and Portrait */
            @media only screen and (max-width: 767px) {
                padding: 10px;
                h1 {
                    font-size: 32px;
                    letter-spacing: 15px;
                }
                img {
                    height: auto;
                    width: 80%;
                }
            }
            /* Mobile Portrait */
            @media only screen and (max-width: 479px) {
                padding: 10px;
                h1 {
                    font-size: 28px;
                }
            }

            @media only screen and (max-width: 405px) {
                h1 {
                    font-size: 24px;
                    letter-spacing: 10px;
                }
            }
        }
    }

    &#us {
        background-color: transparent;
        .us-content {
            @include flexbox(column, center, center);
            width: 60%;
            color: white;
            font-family: "Raleway";
            text-align: center;
            img {
                margin-bottom: 40px;
                height: 75px;
            }
            h1 {
                @include noSelect();
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 20px;
                margin-bottom: 30px;
                font-size: 30px;
            }
            p {
                @include noSelect();
                font-weight: 400;
                line-height: 1.6;
                font-size: 18px;
            }
        }
        /* Mobile Portrait */
        @media only screen and (max-width: 479px) {
            .us-content {
                width: 80%;
            }
        }
    }

    &#work {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(
                to top,
                rgba($color-background, 1),
                rgba($color-background, 0.75),
                rgba($color-background, 1)
            ),
            url("../images/board.jpg");
        .work-container {
            @include flexbox(column, center, center);
            position: relative;
            padding-top: 45px;
            min-height: 65vh;
            height: auto;
            width: 100%;
            #cards {
                @include flexbox(row, flex-start, center);
                width: calc(100% - 50px);
                min-height: 320px;
                height: auto;
                transition: ease 2s all;
                scroll-behavior: smooth;
                overflow-x: scroll;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
            #cards::-webkit-scrollbar {
                display: none;
            }
            .title {
                @include flexbox(column, center, center);
                width: fit-content;
                height: 320px;
                margin-right: 20px;
                h1 {
                    font-family: "Raleway";
                    font-weight: 900;
                    font-size: 50px;
                    color: white;
                    letter-spacing: 10px;
                    text-transform: uppercase;
                }
            }
            .card {
                @include flexbox(column, center, center);
                cursor: pointer;
                margin: 0 4px;
                min-width: 600px;
                height: 290px;
                overflow: hidden;
                h2 {
                    font-family: "Raleway";
                    font-weight: 700;
                    font-size: 20px;
                    color: #fff;
                    text-align: center;
                    transition: all 0.5s ease;
                }
                a {
                    @include flexbox(column, center, center);
                    height: 100%;
                    width: 100%;
                    img {
                        height: auto;
                        width: 100%;
                    }
                }
                /* Transition */
                -webkit-transition: 0.5s ease-out;
                -moz-transition: 0.5s ease-out;
                -o-transition: 0.5s ease-out;
                transition: 0.5s ease-out;
                &:hover,
                &:active,
                &:focus {
                    min-width: calc(600px * 1.1);
                    height: calc(290px * 1.1);
                }
            }
            .arrows-container {
                @include flexbox(row, flex-end, center);
                width: calc(100% - 50px);
                padding-top: 15px;
                .arrow-box {
                    @include flexbox(row, center, center);
                    cursor: pointer;
                    .arrow {
                        @include noSelect();
                        width: 30px;
                        height: auto;
                        cursor: pointer;
                    }
                }
                #left {
                    left: 0;
                    margin-right: 20px;
                }
                #right {
                    right: 0;
                }
            }
        }
    }

    &#services {
        padding: 70px 20px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: transparent;
        .service,
        .top-service {
            @include flexbox(column, flex-start, center);
            width: 400px;
            height: auto;
            margin: 20px;
            .icon {
                margin-bottom: 20px;
                height: 50px;
                width: auto;
            }
            .title,
            .description {
                font-family: "Raleway";
                @include noSelect();
                text-align: center;
                color: white;
            }
            .title {
                font-size: 25px;
                font-weight: 900;
                letter-spacing: 5px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .description {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.4;
            }
        }
        .top-service {
            width: 65%;
            margin: 20px 15%;
            .title {
                font-size: 35px;
            }
        }
    }

    &#quote {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(
            to bottom,
            rgba($color-background, 1),
            rgba($color-background, 0.75),
            rgba($color-background, 1)
        );
    }

    &#contact {
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 40px 100px;
        .half {
            @include flexbox(column, center, center);
            padding: 30px;
            height: 100%;
            width: 60%;
            .title,
            .subtitle {
                @include noSelect();
                font-family: "Raleway";
                margin-bottom: 10px;
                text-align: center;
                color: white;
                width: 100%;
            }

            .title {
                font-size: 32px;
                font-weight: 900;
                letter-spacing: 10px;
                text-transform: uppercase;
            }

            .subtitle {
                font-size: 20px;
                font-weight: 400;
            }

            .button {
                cursor: pointer;
                text-decoration: none;
                font-family: "Raleway";
                font-size: 20px;
                margin-top: 10px;
                font-weight: 900;
                text-transform: uppercase;
                padding: 12px 24px;
                border-radius: 50px;
                color: black;
                background-color: white;
                @include animation(ease, 0.6s, all);
                &:hover {
                    background-color: $logo-color-green;
                    color: black;
                }
            }

            &#left {
                padding: 0;
                width: 40%;
                .img-container {
                    @include flexbox(column, center, center);
                    overflow: hidden;
                    width: 90%;
                    .img-asset {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        /* Mobile and iPad Portrait */
        @media only screen and (max-width: 890px) {
            flex-direction: column;
            padding: 20px 70px;
            .half {
                width: 100%;
                &#left {
                    width: 60%;
                    .img-container {
                        width: 90%;
                        .img-asset {
                            width: 100%;
                        }
                    }
                }
                .title {
                    font-size: 23px;
                    margin-top: 20px;
                }
            }
        }
        /* Mobile Portrait */
        @media only screen and (max-width: 479px) {
            padding: 10px 40px;
            .half {
                padding: 10px;
                &#left {
                    width: 100%;
                }
            }
        }
    }
}

footer {
    @include flexbox(column, center, flex-start);
    padding: 40px 15%;
    width: 100%;
    background-color: transparent;
    .info {
        @include flexbox(row, center, center);
        width: 100%;
        .box-footer {
            @include flexbox(column, center, center);
            h2,
            p {
                font-family: "Raleway", sans-serif;
            }
            h2 {
                color: $logo-color-green;
                text-transform: uppercase;
                letter-spacing: 5px;
                margin-bottom: 15px;
                font-weight: 900;
            }
            p {
                margin-bottom: 7px;
                font-weight: 600;
                color: white;
            }
        }
    }
    .footer-divider {
        background-color: grey;
        height: 2px;
        width: 100%;
        margin: 30px 0;
    }
    .social-media {
        @include flexbox(column, center, center);
        width: 100%;
        .icons {
            @include flexbox(row, center, center);
            width: 100%;
            margin: 25px 0 0 0;
            a {
                @include flexbox(column, center, center);
                height: 30px;
                margin: 10px;
                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
        .call-action {
            margin: 10px 0 0 0;
            p {
                color: white;
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 20px;
            }
            .email {
                color: white;
                text-decoration: none;
                font-weight: 900;
            }
        }
    }
}

.button {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: "Raleway";
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 50px;
    color: black;
    background-color: $logo-color-green;
    @include animation(ease, 0.6s, all);
    &:hover {
        background-color: transparent;
        color: $logo-color-green;
    }
}

.input-standard {
    margin: 8px 0;
    width: 100%;

    .input-field {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
        height: 58px;
        position: relative;
        overflow: hidden;

        label {
            position: absolute;
            top: 28px;
            left: 16px;
            z-index: 1;
            transition: 0.5s;
            margin: 0;
            color: $logo-color-green;
            font-size: 16px;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
        }

        input,
        textarea {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            padding: 10px 16px;
            outline: none;
            box-shadow: none;
            border: 0.5px solid #dddddd;
            border-radius: 6px;
            background: none;
            background-color: transparent;
            color: white;
            font-size: 16px;
            font-family: "Raleway", sans-serif;
            font-weight: 400;

            &:focus {
                border-color: $logo-color-green;
            }
        }

        &.textarea {
            height: 94px;
        }

        input:focus + label,
        input:valid + label,
        textarea:focus + label,
        textarea:valid + label {
            top: 0;
            left: 0;
            font-size: 13px;
        }
    }
}

.popup {
    @include flexbox(column, center, center);
    background: rgba($color-background, 0.95);
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    left: 0;
    top: 0;
    .container {
        @include flexbox(column, center, center);
        padding: 20px;
        img {
            height: 200px;
            width: auto;
            margin: 0 0 10px 0;
        }
        .text-popup {
            font-family: "Raleway", sans-serif;
            color: white;
            text-align: center;
            font-weight: 400;
            font-size: 27px;
            margin: 30px 0 0 0;
        }
        /* Mobile Landscape and Portrait */
        @media only screen and (max-width: 1045px) {
        }
        /* Mobile Landscape and Portrait */
        @media only screen and (max-width: 300px) {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

#loading {
    @include flexbox(column, center, center);
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    top: 0;
    left: 0;
    background: rgba($color-background, 0.95);
    transition: 0.3s ease all;
    .spinner {
        margin: 100px auto;
        width: 60px;
        height: 60px;
        position: relative;
        text-align: center;
        -webkit-animation: sk-rotate 2s infinite linear;
        animation: sk-rotate 2s infinite linear;
        .dot1,
        .dot2 {
            width: 60%;
            height: 60%;
            display: inline-block;
            position: absolute;
            top: 0;
            background-color: $logo-color-green;
            border-radius: 100%;
            -webkit-animation: sk-bounce 2s infinite ease-in-out;
            animation: sk-bounce 2s infinite ease-in-out;
        }
        .dot2 {
            top: auto;
            bottom: 0;
            -webkit-animation-delay: -1s;
            animation-delay: -1s;
        }
        @-webkit-keyframes sk-rotate {
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        @keyframes sk-rotate {
            100% {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
            }
        }
        @-webkit-keyframes sk-bounce {
            0%,
            100% {
                -webkit-transform: scale(0);
            }
            50% {
                -webkit-transform: scale(1);
            }
        }
        @keyframes sk-bounce {
            0%,
            100% {
                transform: scale(0);
                -webkit-transform: scale(0);
            }
            50% {
                transform: scale(1);
                -webkit-transform: scale(1);
            }
        }
    }
}
